{% extends 'base.html' %} 
{% block content %}
{% load static %}
<div class="container-about">
  <div class="row">
    <div class="col s12">
      <div class="center-align">
        <img src="{% static 'images/LogoWithName.svg' %}" alt="Logo" class="logo-about">
      </div>
    </div>
  </div>
  <h1>About L'Art du Style</h1>
  <hr>
  <p>
    Welcome to L'Art du Style - a Django-based web application that helps users
    test their fashion sense by allowing them to upload photos of their clothing
    items and see if they match. L'Art du Style is the ultimate tool for those
    looking to elevate their fashion game and make sure their outfits always look
    stylish and put-together.
  </p>
  <footer>All Rights Reserved, &copy; 2023 L'Art du Style</footer>
</div>

<style>
  .container-about {
    text-align: center;
  }
  
  .logo-about {
    max-width: 300px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
</style>  
{% endblock %}
