{% extends 'base.html' %} {% block content %}
<h1>Create a Match</h1>

{% if message %}
<p>{{ message }}</p>
{% else %}
<div class="category">
  <h2>Select a Top:</h2>
</div>
<div class="card-container">
  {% for top in tops %}
  <div class="card-item card-top" onclick="selectTop('Top #{{ top.pk }}')">
    <img src="{{ top.image }}" alt="Top Image" width="200" />
    {{ top }}
  </div>
  {% endfor %}
</div>

<div class="category">
  <h2>Select a Bottom:</h2>
</div>
<div class="card-container">
  {% for bottom in bottoms %}
  <div
    class="card-item card-bottom"
    onclick="selectBottom('Bottom #{{ bottom.pk }}')"
  >
    <img src="{{ bottom.image }}" alt="Bottom Image" width="200" />
    {{ bottom }}
  </div>
  {% endfor %}
</div>

<form method="post">
  {% csrf_token %}
  <input type="hidden" name="top" id="selected-top-input" />
  <input type="hidden" name="bottom" id="selected-bottom-input" />
  <input type="submit" value="Create Match" />
</form>
{% endif %}

<style>
  .category {
    margin-bottom: 20px; /* Add spacing between categories */
  }

  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .card-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
  }

  .selected {
    border-color: #ff0000; /* Update with your selected style */
  }

  .card-top:hover {
    /* Add your hover styles for top items */
    background-color: #eaf2f8;
  }

  .card-bottom:hover {
    /* Add your hover styles for bottom items */
    background-color: #f8f1ea;
  }
</style>

<script>
  function selectTop(element) {
    var selectedTop = document.getElementById("selected-top");
    selectedTop.innerText = "Selected: " + element.innerText;

    var topElements = document.getElementsByClassName("card-top");
    for (var i = 0; i < topElements.length; i++) {
      topElements[i].classList.remove("selected");
    }
    element.classList.add("selected");
  }

  function selectBottom(element) {
    var selectedBottom = document.getElementById("selected-bottom");
    selectedBottom.innerText = "Selected: " + element.innerText;

    var bottomElements = document.getElementsByClassName("card-bottom");
    for (var i = 0; i < bottomElements.length; i++) {
      bottomElements[i].classList.remove("selected");
    }
    element.classList.add("selected");
  }
</script>
{% endblock %}
