{% extends 'base.html' %} {% block content %}

<h1>Clothe List</h1>

{% for clothe in clothes %}
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ clothe.name }}</span>
    <p>Brand: {{ clothe.brand }}</p>
    <p>Description: {{ cat.description }}</p>
    {% comment %} {% if clothe.age > 0 %}
    <p>Age: {{ clothe.age }}</p>
    {% else %}
    <p>Age: Kitten</p>
    {% endif %} {% endcomment %}
  </div>
</div>

<h2>Upload photos for {{ item.name }}</h2>

<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-group">
    <label for="top_photo">Top photo:</label>
    <input
      type="file"
      name="top_photo"
      id="top_photo"
      class="form-control-file"
      required
    />
  </div>
  <div class="form-group">
    <label for="bottom_photo">Bottom photo:</label>
    <input
      type="file"
      name="bottom_photo"
      id="bottom_photo"
      class="form-control-file"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Upload</button>
</form>
{% endfor %} {% endblock %}
