{% extends 'base.html' %} {% block content %}
<h1>View Matches</h1>

{% if matches %}
<ul>
  {% for match in matches %}
  <li>
    <h2>Match #{{ match.pk }}</h2>
    <div class="match-item">
      <div class="top-item">
        <img src="{{ match.top.image }}" alt="Top Image" width="200" />
      </div>
      <div class="bottom-item">
        <img src="{{ match.bottom.image }}" alt="Bottom Image" width="200" />
      </div>
    </div>
  </li>
  <div>
    <p>{{ match.top }}</p>
    <p>{{ match.bottom }}</p>
    <p>{{ match }}</p>
    <form action="{% url 'delete_match' match.pk %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Delete Match" />
    </form>
  </div>

  {% endfor %}
</ul>
{% else %}
<p>No matches found.</p>
{% endif %} {% endblock %}

